/* Global Styles */ 
body { 
    font-family: Arial, sans-serif; 
    margin: 0; 
    padding: 0; 
  }
  
  header { 
    background-color: #000000; 
    color: hsl(0, 78%, 93%); 
    padding: 20px; 
    text-align: center; 
  }
  
  h1 { 
    margin: 0; 
  }
  
  main { 
    margin: 20px; 
  }
  
  section { 
    margin-bottom: 50px; 
  }
  
  h2 { 
    color: #333; 
    text-align: center;  
  }












  .introduction {
    display: flex;
    align-items: center;
  }
  
  .intro-photo {
    flex: 1;
    max-width: 60%;
  } img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }


  .description {
    flex: 2;
    padding: 0 10px;
    height: 350px;
    text-align: center;  
  }
















  
  
  .projects { 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    flex-direction: column; 
    justify-content: center; /* center the content horizontally */ 
    align-items: center; /* center the content vertically */ 

  }
  
  .project-box { 
    flex-basis: 30%; 
    background-color: #eee; 
    padding: 20px; 
    margin-bottom: 20px; 
    width: 300px; /* adjust as needed */
    color: #333; 
    text-decoration: none; 
    display: inline-block;
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    margin-bottom: 20px;
    flex-basis: 100%;


  }
  
  .project-group {
    display: inline-block;
    margin: 10px;
    width: 30%;
    margin: 0 auto;
    vertical-align: top;
    text-align: center;
    margin: 0 10px; /* add some margin on the sides */
    text-align: center;
  }
  
  
  .project-box img {
    width: 100%;
    height: auto;
    display: block; 
    width: 50%; 
    height: 50%;
    margin-bottom: 10px; 
  }

  

  
  .project-box a:hover { 
    text-decoration: underline; 
  }
  













  .contact { 
    background-color: #eee; 
    padding: 20px; 
  }
  
  form { 
    display: flex; 
    flex-direction: column; 
  }
  
  label { 
    margin-bottom: 10px; 
  }
  
  input, textarea { 
    padding: 10px; 
    margin-bottom: 20px; 
    border: none; 
    background-color: #f2f2f2; 
  }
  
  button { 
    padding: 10px; 
    border: none; 
    background-color: #333; 
    color: #fff; 
    cursor: pointer; 
  }
  
  button:hover { 
    background-color: #4d4d4d; 
  }
  
  footer { 
    background-color: #333; 
    color: #fff; 
    padding: 20px; 
    text-align: center; 
  }
  




  .container {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 15vh;
  }
  
  #calc_input {
    margin-bottom: 10px;
  }

  #result {
    margin-top: 9px;
  }
 